<nav>
  <span class="logo">Bryan</span>
  
  <button class="hamburger" (click)="toggleMenu()">
    <i class="fas" [class.fa-bars]="!menuOuvert" [class.fa-xmark]="menuOuvert"></i>
  </button>

  <ul [class.ouvert]="menuOuvert">
    <li><a routerLink="/" fragment="about" (click)="closeMenu()">À propos</a></li>
    <li><a routerLink="/" fragment="skills" (click)="closeMenu()">Compétences</a></li>
    <li><a routerLink="/" fragment="experience" (click)="closeMenu()">Expérience</a></li>
    <li><a routerLink="/" fragment="projects" (click)="closeMenu()">Projets</a></li>
    <li><a routerLink="/" fragment="contact" (click)="closeMenu()">Contact</a></li>
    <li>
      <div class="switch" [class.active]="isDark" (click)="toggleTheme()">
        <div class="cercle">
          @if (isDark) {
            <i class="fas fa-moon"></i>
          } @else {
            <i class="fas fa-sun"></i>
          }
        </div>
      </div>
    </li>
  </ul>
</nav>
