<section id="skills">
  <h2>Compétences</h2>

  <div class="skills-group">
    <h3>Langages</h3>

    @for (skill of langSkills; track skill.nom) {
      <div class="skill">
        <div class="skill-header">
          <span class="image">
            <img 
              [src]="getIconUrl(skill.image)" 
              [alt]="skill.nom"
              [class.symfony]="skill.image === 'symfony'"
              (error)="onImgError($event)"
            >
          </span>

          <span class="nom">{{ skill.nom }}</span>
          <span class="pourcentage">{{ skill.affiche }}%</span>
        </div>

        <div class="barre">
          <div class="niveau" [style.width.%]="skill.affiche ?? 0"></div>
        </div>
      </div>
    }
  </div>

  <div class="skills-group">
    <h3>Frameworks</h3>

    @for (skill of frameworkSkills; track skill.nom) {
      <div class="skill">
        <div class="skill-header">
          <span class="image">
            <img 
              [src]="getIconUrl(skill.image)" 
              [alt]="skill.nom"
              [class.symfony]="skill.image === 'symfony'"
              (error)="onImgError($event)"
            >
          </span>

          <span class="nom">{{ skill.nom }}</span>
          <span class="pourcentage">{{ skill.affiche }}%</span>
        </div>

        <div class="barre">
          <div class="niveau" [style.width.%]="skill.affiche ?? 0"></div>
        </div>
      </div>
    }
  </div>
</section>